*.class

# compiled file
Parser/parser
Lexer/lexer
Parser/grammar
*.gv
*.pdf

# output file
*.out
*.out


#temp file
tempCodeRunnerFile.cpp
*.log
*.cache
*.diff
*.patch
*.tmp
.vscode
.json

# system ignore
.DS_Store
Thnmbs.db
