*.class

# compiled file
Parser/parser
Lexer/lexer
Parser/grammar

# output file
*.out


#temp file
tempCodeRunnerFile.cpp
*.log
*.cache
*.diff
*.patch
*.tmp
.vscode
.json

# system ignore
.DS_Strore
Thnmbs.db